<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>React Webpack Babel App</title>
</head>
<body>
	<div id="react-start"></div>
	<form action="/auth/facebook">
	    <button type="submit">
	  <i class="facebook icon"></i>
	  Login with Facebook
	</button>
	</form>
	<script src="/js/bundle.js" type="text/javascript"></script>
</body>
</html>
