/** CSS for Landing Page **/
body {
  background-color: #E6EBE0;
}

.background-image {
  background: url("../img/dropbox.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 70em;
  min-height: 10000px;
}

#react-start {
  margin-top: 80px;
  padding: 40px 20px;
  width: 30%;
  background: #fd5c63 !important;
}

#dividing-header {
  font-size: 1.6em;
  margin-bottom: 40px !important;
}

#autocomplete {
  width: 300px;
}

.middle-section {
  margin-left: auto!important;
  margin-right: auto!important;
  background-color: #E6EBE0;
  border-bottom: 2px solid grey;
}

.ui.button.formButton {
  width: 300px;
  height: 36px;
  margin: 15px 15px 5px 15px;
}

.multipleDropdown {
  width: 300px;
  margin: 15px auto;
}

.satisfied {
  color: green;
}

.ui.button.satisfiedButton {
  background-color: #c3d897;
}

.ui.button.unsatisfiedForm {
  background-color: #F4F1BB;
  color: #000000 !important;
}

.ui.button.satisfiedForm {
  background-color: #91dcfc;
}
