/** CSS for Landing Page **/

#autocomplete {
  width: 300px;
}

.ui.button.formButton {
  width: 300px;
  height: 36px;
  margin: 15px 15px 5px 15px;
}

.satisfied {
  color: green;
}

.ui.button.satisfiedButton {
  background-color: #c3d897;
}

.ui.button.unsatisfiedForm {
  background-color: #ffa77f;
}

.ui.button.satisfiedForm {
  background-color: #91dcfc;
}
